<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.TestMapper">
    <select id="getTest" resultType="testVO">
        SELECT TEST_TNO,TEST_NAME, TEST_AGE,TEST_GENDER
        FROM TBL_TEST
        WHERE TEST_TNO=#{testTno}
    </select>

    <select id="getList" resultType="testVO">
        SELECT TEST_TNO,TEST_NAME, TEST_AGE,TEST_GENDER
        FROM TBL_TEST
    </select>

    <update id="update">
        UPDATE TBL_TEST
        SET TEST_NAME = #{testName}, TEST_AGE = #{testAge},TEST_GENDER=#{testGender}
        WHERE TEST_TNO = #{testTno}
    </update>
</mapper>