<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        body {transform: scale(0.8);}
    </style>
</head>
<body>
    <!-- Main -->
    <div id="main">
        <div class="wrapper">
            <div class="inner">
                <!-- Elements -->
                <header class="major">
                    <h1>Board</h1>
                    <p>게시글 상세보기</p>
                </header>
                <!-- Table -->
                <h3><a id="goList" class="button small">목록 보기</a></h3>
                <div class="content">
                    <div class="form">
                        <form method="post" action="/board/remove" th:object="${board}">
                            <div class="fields">
                                <div class="field">
                                    <h4>번호</h4>
                                    <input type="text" readonly th:field="*{boardBno}"/>
                                </div>
                                <div class="field">
                                    <h4>제목</h4>
                                    <input type="text" readonly th:field="*{boardTitle}"/>
                                </div>
                                <div class="field">
                                    <h4>내용</h4>
                                    <textarea rows="6" style="resize:none" readonly th:field="*{boardContent}"></textarea>
                                </div>
                                <div class="field">
                                    <h4>작성자</h4>
                                    <input type="text" readonly th:field="*{boardWriter}"/>
                                </div>
                            </div>
                            <ul class="actions special">
                                <li>
                                    <input type="button" class="button" value="수정" onclick="goUpdate()"/>
                                    <input type="submit" class="button" value="삭제"/>
                                </li>
                            </ul>
                        </form>
                        <ul class="icons">
                            <li>
                                <span class="icon solid fa-envelope"></span>
                                <strong>댓글</strong>
                            </li>
                        </ul>
                        <a style="width:100%" href="javascript:void(0)" class="button primary small register">댓글 등록</a>
                        <div class="fields register-form" style="display:none">
                            <div class="field">
                                <h4>작성자</h4>
                                <input type="text" name="replyWriter" placeholder="Replyer">
                            </div>
                            <div class="field">
                                <h4>댓글</h4>
                                <textarea rows="6" name="replyContent" placeholder="Reply" style="resize:none;"></textarea>
                            </div>
                            <div class="field regBtn">
                                <a href="javascript:void(0)" class="button primary small finish">등록</a>
                                <a href="javascript:void(0)" class="button primary small cancel">취소</a>
                            </div>
                        </div>
                        <ul class="replies">
                        </ul>
                        <div class="paging" style="text-align:center;">
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</body>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/reply.js"></script>
<script th:inline="javascript">
    let boardBno = [[${board.boardBno}]];
    let paging = [[${criteria.listLink}]];
    let pageNum = paging.pageNum;
    let replyUL = $(".replies");
    let replyPaging = $(".paging");

    console.log(pageNum);

    $(document).ready(function(){

        $(".register").on("click", function(e){
            e.preventDefault();
            $(".register-form").show();
            $(this).hide();
        });

        $(".cancel").on("click", function(e){
            e.preventDefault();
            $(".register-form").hide();
            $(".register").show();
        });

    });



    // 등록버튼을 눌렀을 때
    $(".finish").on("click", function(e){
        e.preventDefault();
        // 필요한 데이터: 댓글 작성자, 댓글
        var replyWriter = $("input[name='replyWriter']").val();
        var replyContent = $("textarea[name='replyContent']").val();

        if(replyWriter == "" || replyContent == "" ) {return;}

        replyService.add({boardBno: boardBno, replyWriter:replyWriter, replyContent:replyContent}, function(result){
            alert(result);
            $("input[name='replyWriter']").val();
            $("textarea[name='replyContent']").val();
            $(".register-form").hide();
            $(".register").show();
            showList(pageNum);
        });
    });
    function showReplyPage(replyCnt){

        var str = "";
        var endNum = Math.ceil(pageNum / 10.0 ) * 10;
        var startNum = endNum - 9;
        var realEnd = Math.ceil(replyCnt / 10.0);

        if(endNum > realEnd ){
            endNum = realEnd;
        }

        var prev = startNum != 1;
        var next = endNum * 10 < replyCnt;

        if(matchMedia("screen and (max-width:918px)").matches){
            if(pageNum != 1 ) {
                str += "<a class='changePage' href='"+ (pageNum - 1) +"'><code>&lt;</code></a>"
            }
            str += "<code>"+ pageNum + "</code>";
            if(pageNum != realEnd) {
                str += "<a class='changePage' href='"+ (pageNum + 1) +"'><code>&gt;</code></a>"
            }
        } else {
            if(prev){
                str += "<a class='changePage' href='"+ (startNum - 1) +"'><code>&lt;</code>"
            }
            for(let i = startNum; i <= endNum; i++ ){
                if(pageNum == i){
                    str += "<code>" + i +"</code>";
                    continue;
                }
                str += "<a class='changePage' href='"+ i +"'><code>" + i + "</code></a>"
            }
            if(next){
                str += "<a class='changePage' href='"+ (endNum + 1) +"'><code>&gt;</code></a>"
            }
        }
        replyPaging.html(str); // DOM
    }

    // 위임
    $(".paging").on("click", "a.changePage", function(e){
        e.preventDefault();
        pageNum = parseInt($(this).attr("href"));
        console.log(pageNum)
        showList(pageNum);
    });

    // 현재 페이지가 무엇인지 알아야하므로 페이지 번호를 받아와야 한다.
    function showList(page){
        replyService.getList({boardBno:boardBno, page: page||1}, function(list){
            console.log(boardBno);
            // console.log("replyCnt : " + replyCnt); // 해당 게시물의 총 댓글 수
            console.log("list : " + list);

            let str="";
            let len = list.length;
            console.log(len);
            for(let i = 0; i < len; i++){
                str += "<li data-rno='"+ list[i].replyNumber +"'>";
                // data-rno 라는 옵션을 통해서 파일첨부 때 이용할 수 있다.
                str += "<strong>" + list[i].replyWriter + "</strong>";
                str += "<p class='reply"+ list[i].replyNumber +"'>" + list[i].replyContent + "</p>";
                // 모든 p태그의 reply라는 클래스 반복문을 돌리기 번거로우니, RNO를 붙여 연결을 시킨다.
                str += "<div style='text-align:right;'>";
                str += "<a class='modify' href='"+ list[i].replyNumber +"'>수정</a>";
                str += "<a class='finish' href='"+ list[i].replyNumber +"' style='display:none;'>수정완료</a>";
                str += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                str += "<a class='remove' href='"+ list[i].replyNumber +"'>삭제</a>";
                str += "</div><div class='line'></div></li>";
            }
            replyUL.html(str);
            // showReplyPage(replyCnt);

        });
    }
    // showList(2);

    // 댓글 삭제
    // 삭제 버튼 클릭 시 해당 댓글 번호를 가져와 삭제하기
    $(".replies").on("click", "a.remove", function(e){ // 이벤트 위임
        e.preventDefault();
        var rnoValue = $(this).attr("href");

        replyService.remove(rnoValue, function(result){
            alert(result);
            showList(pageNum); // 삭제를 했으면 다시 보여주도록 하기.(새로고침 없이)
        });
    });

    var check = false; // 다른 댓글 수정 못하게 (동시에) 플래그를 만들어야 한다.

    // 댓글 수정
    $(".replies").on("click", "a.modify", function(e){ // 이벤트 위임
        // 1. 수정완료 버튼
        // 2. p태그를 textarea로 변경 (기존 p태그의 내용을 textarea로 옮겨야 한다.)
        e.preventDefault();

        if(check){alert("수정중인 댓글이 있습니다."); return;}

        var rnoValue = $(this).attr("href");
        var reply = $(".reply" + rnoValue); // p태그

        reply.html("<textarea class='"+ rnoValue +"'>"+ reply.text() + "</textarea>"); // textarea로 변경
        $(this).hide(); // 수정 버튼 숨김

        var finishs = $(".finish");
        for(let i = 0; i < finishs.length; i++) {
            if($(finishs[i]).attr("href") == rnoValue ){
                $(finishs[i]).show(); // 수정완료 버튼
                check = true;
                break;
            }
        }
    });
    // 수정완료
    $(".replies").on("click", "a.finish", function(e){
        e.preventDefault();

        var replyNumber = $(this).attr("href");
        var replyContent = $("." + replyNumber).val(); //사용자가 랜더링(브라우저 해석) 다 되고나서 가져와야하기 때문이다.

        if(replyContent == "" ) {return;}

        replyService.modify({rno:replyNumber, reply:replyContent}, function(result){
            alert(result);
            check = false;
            showList(pageNum);
        });
    });

    // replyService.add({
    //     replyContent: "JS Module Test",
    //     replyWriter: "hds1234",
    //     boardBno: boardBno
    // }, function(result){
    //     alert(result);
    // }, function(a, b, c){console.log(a, b, c)});

/*    replyService.get(91
    ,function(reply){
        alert(reply);
    })


    replyService.update2(89,{
        replyContent:"JS module test",
        replyWriter: "bby1234",
        boardBno: boardBno
    },function(result){alert(result);})*/

/*    replyService.allList(524296,1,function(result){console.log(result);})*/

/*    replyService.test1(
        function (result) {
            alert(result);

        }
    );*/
/*    replyService.test2(55,
        function (result) {
            alert(result);

        }
    );*/
/*    replyService.test3(
        function (result) {
           console.log(result);

        }
    );*/
/*    replyService.test4({rno:12,bno:23},
        function (reply) {
            console.log(reply);
        }
    );*/
/*    replyService.test5({bno:524296,page:1},
        function (list) {
            console.log(list.length);
            console.log(list);
        }
    );*/

    function goUpdate(){
        location.href = '/board/modify' + paging + '&boardBno=' + boardBno;
    }

    $("a#goList").click(function(e){
        e.preventDefault();
        location.href = "/board/list" + paging;
    })


</script>
</html>













